.body
{
    margin: 0;
    padding: 0;
    
}
#top
{
    
    height: 20px;
   
}
.navbar
{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
 
.navbar-nav 
{
    padding: 0px;
    padding-left: 36%;
}

.navbar-brand
{
    font-size: xx-large;
    font-weight: 400;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    
}
.nav-item
{
    text-transform: uppercase;
    padding-left: 25px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  
}
.nl
{

    color: white !important;
}
.nav-link:hover
{
  
    border-bottom: red;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    color: tomato !important;
}
 .nt 
 {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
} 

.im 
{
    background-image: url(../images/back.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}

.navbar-light .navbar-toggler {
    background: white;
    border-color: black;
    font-family: 'Poppins', sans-serif;
}
.cont
{
    
    margin-top: 190px;
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
}

#about
{
    background-color: #f5f5f5 !important;
}
.sz
{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder !important;
}
.c1
{
    background-color: #fff;
}
.abtme
{
    font-family: 'Poppins', sans-serif;
    color:#146C94;
    font-size: xx-large;
    font-weight: 600;
    
} 
.content
{
    
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    word-spacing: 0.5px;
    text-align: justify;
}
.about-header
{
    
    font-family: 'Poppins', sans-serif;
 font-size: larger;
    color:#000000;
}

.ati
{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder !important;
    color:#146C94;
}
#services
{
    background-color: #EEEEEE;
}
.ser
{ 
    font-weight: 600;
    color:#146C94;
    font-family: 'Poppins', sans-serif;
    padding: 25px
}
.ser-cont
{    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color:#000000;
}
.icn
{
   align-items: center;
}
.inside 
{
    height: 95px;
    width: 95px;
    background-color: white;
    border-radius: 50% !important;
    box-shadow: 0 0 0 10px #0078ff;

}
.logo
{
    font-size: 4rem;
   
}
.hl
{
    height: 13rem;
    margin-bottom: 2rem;
}
.fb 
{
    color: #000000 ;
}

.fb:hover  
{
    color:#19A7CE;
}

.title
{
    
    color:#146C94;
    font-family: 'Poppins', sans-serif;
   
    font-weight: 600; 
}
.tc 
{
    font-family: 'Poppins', sans-serif;
  color:#000000;
  font-size: large;
}
#pro
{
    background-color:  #0078ff !important;
}
.num
{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 700;
}
.nc
{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.rc {
    color: #cde1f8;
}
#Portfolio
{
    background-color: #f5f5f5 !important;
}
.btc
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
}
.cd 
{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: 700;
}
.ct{
    font-family: 'Roboto', sans-serif;
    font-size: large;
 font-style: italic;
}
#bot
{
    background-color: black !important;
    padding: 3rem;
}
.botb{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}
.lgp
{
font-size: x-large;
}
.td 
{
    text-decoration: none !important;
    color: white;
}


